.prime {
    margin: 30px 0;
}

.prime__img {
    width: 600px;
    height: 400px;
}

.prime__text {
    margin-top: 30px;

    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}