.nav {
    width: 100%;
    height: 100%;
    margin: 50px auto 0;
}

.nav__wrap {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav__search-wrap {
    width: 30%;
}

.nav__search {
    width: 230px;
    height: 30px;
    padding: 0 10px;
    margin-bottom: 10px;

    outline: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
}

.nav__search-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav__search-img {
    width: 28px;
}

.nav__list  {
    width: 68%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav__item {
    display: inline-block;
    border-radius: 3px 3px 0 0;
    &:hover {
        background-color: #fff;
    }
}

.nav__link {
    display: block;
    padding: 10px 25px;
    margin: 0 auto;
    font-size: 20px;
    color: #7D9794;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: #7D9794;
    }
}
