.header {
    width: 100%;
    min-height: 13vh;

    background-color: #011836;
    color: #fff;
}

.header__wrap {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__reg-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__login-link {
    display: block;

    margin: 20px 0;

    color: #fff;
}

.header__register-link {
    display: block;

    color: #fff;
}