.header {
    width: 100%;
    height: 20vh;

    background-color: #011836;
}

.header__wrap {
    height: 100%;
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}