.sidebar {
    width: 100%;
    height: auto;
    padding: 30px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #9dadab;
}

.sidebar__title {
    margin-bottom: 10px;
    padding: 10px 0;

    border-top: 8px solid #8e9f9e;
    border-bottom: 8px solid #8e9f9e;
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
}

.sidebar__list {

}

.sidebar__item {
    padding: 5px 10px 5px 0;
}

.sidebar__link {
    color: #fff;
}

.sidebar__link-all {
    color: #dcdcdc;
}