.signIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 20px 0;
}

.signIn__login-wrap {
    margin-bottom: 10px;
}

.signIn__login {
    padding: 5px 10px;
    margin-left: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
}
.signIn__inputError {
    text-align: right;
    margin-bottom: 10px;
}

.signIn__password-wrap {
    margin-bottom: 10px;
}

.signIn__password {
    padding: 5px 10px;
    margin-left: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.signIn__button {
    width: 80px;
    height: 30px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff;
}

.signIn__title {
    margin-bottom: 10px;
}